{% extends 'base.html' %}

{% block content %}

<h1>{{ api.0.ReportingArea }}, {{ api.0.StateCode }}</h1>
<br/>

{% if  api %}
    {% if api == "Error..." %}
        There was an error, please try again...
    {% else %}
<div class="jumbotron {{category_color}}">
  <h1 class="display-4">{{ api.1.Category.Name }}<br/></h1>
  <p class="lead">Current Air Quality: {{ api.1.AQI }}</p>
 
  <p>
    {{ category_description }}
</div>


        Air Quality: {{ api.1.AQI }}<br/>
        Area:  {{ api.0.ReportingArea }}, {{ api.0.StateCode }}<br/>
        Category:  {{ api.1.Category.Name }}
    {% endif %}
{% endif %}
{% endblock content %}
